################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CalculatorApp/v16
/.vs/UnitTestingMVC/v16/Server/sqlite3
