@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Calculator" asp-action="Calculate">Go to the Calculator!</a></p>
</div>
